* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2em;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#notesList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.note {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
}

.note h3 {
    margin-bottom: 10px;
}

.note p {
    margin-bottom: 10px;
}

.note a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.note a:hover {
    text-decoration: underline;
}

.note button {
    background-color: #008CBA;
}

.note button:hover {
    background-color: #007B9F;
}

#searchInput {
    padding: 10px;
    width: 50%;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 20px;
    }
